<div class="Table">
  <div class="row" *ngFor="let row of rows; let rowIndex = index">
    <div
      class="column"
      *ngFor="let cell of row; let columnIndex = index"
      [ngStyle]="{
        'background-color':
          (rowIndex % 2 == 0 && columnIndex % 2 == 0) ||
          (rowIndex % 2 == 1 && columnIndex % 2 == 1)
            ? '#91511c'
            : 'sandybrown'
      }"
      (click)="test(rowIndex, columnIndex)"
    >
      <div
        *ngIf="cell == 1"
        class="player"
        style="
          background-image: radial-gradient(
            grey 0%,
            white 30%,
            grey 46%,
            white 59%,
            grey 80%,
            white 20%
          );
        "
      ></div>
      <div
        *ngIf="cell == 2"
        class="player"
        style="
          background-image: radial-gradient(
            grey 4%,
            black 20%,
            grey 41%,
            black 59%,
            grey 80%,
            black 20%
          );
        "
      ></div>
    </div>
  </div>
</div>
